<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.wong.attendance_management_api.mapper.AccountMapper">
        <resultMap id="userInfo" type="edu.wong.attendance_management_api.entity.Account">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_telephone" property="userTelephone"/>
        <result column="user_mail" property="userMail"/>
        <result column="user_group" property="userGroup"/>
        <result column="user_status" property="userStatus"/>
        <result column="user_create_time" property="userCreateTime"/>
        <result column="user_last_time" property="userLastTime"/>
        <result column="rol_id" property="rolId"/>
        <result column="role_name" property="roleName"/>
        <result column="right_id" property="rightId"/>
        <result column="right_url" property="rightUrl"/>
    </resultMap>
    <select id="selectInfoByUserId" parameterType="int" resultMap="userInfo">
        select *
        from view_user_info
        where user_id = #{id}
    </select>

</mapper>
